:root {
    --dominant-text-title-color:#212121;
    --dominant-text-color:#757575;
    --accent-color:#2196F3;
    --white-text-color:#FFFFFF;
    --dominant-body-background-color:#E5E5E5;
    --header-background-color:#FFFFFF;
    --hero-background-color:#2F303A;
    --our-team-background-color:#F5F4FA;
    --footer-background-color:#2F303A;
    --card-background:#FFFFFF;
    --portfolio-button-background:#F5F4FA;
}
body {
    font-family: Roboto, sans-serif;
    color: var(--dominant-text-title-color);
    background-color: var(--dominant-body-background-color); 
}
body li {
    list-style-type: none;
}
.navigation-line {
    background-color: var(--header-background-color);
}
.blue-logotype {
    color: var(--accent-color);
}
.logotype {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    color: var(--dominant-text-title-color);
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.nav-link-1,
.nav-link-2,
.nav-link-3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--dominant-text-title-color);
    text-decoration: none;
}
.nav-mail,
.nav-phone {
    font-weight: 500;
    color: var(--dominant-text-color);
    text-decoration: none;
}
.nav-mail:hover,
.nav-phone:hover,
.nav-link-1:hover,
.nav-link-2:hover,
.nav-link-3:hover,
.footer-mail:hover,
.footer-phone:hover,
.nav-mail:focus,
.nav-phone:focus,
.nav-link-1:focus,
.nav-link-2:focus,
.nav-link-3:focus,
.footer-mail:focus,
.footer-phone:focus {
    color: var(--accent-color);
}
.hero {
    background-color: var(--hero-background-color);
}
.hero-title {
    color: var(--white-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    background-color: var(--accent-color);
    color: var(--white-text-color);
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
.features-subtitle-1,
.features-subtitle-2,
.features-subtitle-3,
.features-subtitle-4 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.features-text-1,
.features-text-2,
.features-text-3,
.features-text-4 {
    color: var(--dominant-text-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.team {
    background-color: var(--our-team-background-color);
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-user-1,
.team-user-2,
.team-user-3,
.team-user-4 {
    background-color: var(--card-background);
}
.user-name-1,
.user-name-2,
.user-name-3,
.user-name-4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.user-profession-1,
.user-profession-2,
.user-profession-3,
.user-profession-4 {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dominant-text-color);
}
.footer {
    background-color: var(--footer-background-color);
}
.logotype-white {
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-family: Raleway, sans-serif;
    color: var(--white-text-color);
    text-decoration: none;
}
.footer-address {
    color: var(--white-text-color);
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-mail,
.footer-phone {
    color:rgba(255, 255, 255, 0.6);
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.portfolio-button-1,
.portfolio-button-2,
.portfolio-button-3,
.portfolio-button-4,
.portfolio-button-5 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dominant-text-title-color);
    background-color: var(--portfolio-button-background);
    cursor: pointer;
}
.portfolio-button-1:hover,
.portfolio-button-2:hover,
.portfolio-button-3:hover,
.portfolio-button-4:hover,
.portfolio-button-5:hover,
.portfolio-button-1:focus,
.portfolio-button-2:focus,
.portfolio-button-3:focus,
.portfolio-button-4:focus,
.portfolio-button-5:focus {
    background-color: var(--accent-color);
}
.portfolio-item-project-1,
.portfolio-item-project-2,
.portfolio-item-project-3,
.portfolio-item-project-4,
.portfolio-item-project-5,
.portfolio-item-project-6,
.portfolio-item-project-7,
.portfolio-item-project-8,
.portfolio-item-project-9 {
    background-color: var(--card-background);
}
.portfolio-link-project-1,
.portfolio-link-project-2,
.portfolio-link-project-3,
.portfolio-link-project-4,
.portfolio-link-project-5,
.portfolio-link-project-6,
.portfolio-link-project-7,
.portfolio-link-project-8,
.portfolio-link-project-9 {
    text-decoration: none;
}
.portfolio-subtitle-project-1,
.portfolio-subtitle-project-2,
.portfolio-subtitle-project-3,
.portfolio-subtitle-project-4,
.portfolio-subtitle-project-5,
.portfolio-subtitle-project-6,
.portfolio-subtitle-project-7,
.portfolio-subtitle-project-8,
.portfolio-subtitle-project-9 {
    font-weight: bold;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--dominant-text-title-color);
}
.portfolio-text-project-1,
.portfolio-text-project-2,
.portfolio-text-project-3,
.portfolio-text-project-4,
.portfolio-text-project-5,
.portfolio-text-project-6,
.portfolio-text-project-7,
.portfolio-text-project-8,
.portfolio-text-project-9 {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--dominant-text-color);
}